.banner {
    display: inherit;
    border: 1px solid #000;

    
    &.size250x250 {
        width: rem(728,$text-bp-sm);
        @include bp-medium {
            width: rem(728,$text-bp-md);
        }

        @include bp-large {
            width: rem(980,$text-bp-lg);
        }   
    }
    &.size200x200 {
        width: rem(728,$text-bp-sm);
        @include bp-medium {
            width: rem(728,$text-bp-md);
        }

        @include bp-large {
            width: rem(980,$text-bp-lg);
        }   

        
    }
    &.size468x60 {
        width: rem(728,$text-bp-sm);
        @include bp-medium {
            width: rem(728,$text-bp-md);
        }

        @include bp-large {
            width: rem(980,$text-bp-lg);
        }   
    }
    &.size728x90 {
        width: rem(728,$text-bp-sm);
        @include bp-medium {
            width: rem(728,$text-bp-md);
        }

        @include bp-large {
            width: rem(980,$text-bp-lg);
        }   
    }
    &.size300x250 {
        width: rem(728,$text-bp-sm);
        @include bp-medium {
            width: rem(728,$text-bp-md);
        }

        @include bp-large {
            width: rem(980,$text-bp-lg);
        }   
    }
    &.size336x280 {
        width: rem(728,$text-bp-sm);
        @include bp-medium {
            width: rem(728,$text-bp-md);
        }

        @include bp-large {
            width: rem(980,$text-bp-lg);
        }   
    }
    &.size120x600 {
        width: rem(728,$text-bp-sm);
        @include bp-medium {
            width: rem(728,$text-bp-md);
        }

        @include bp-large {
            width: rem(980,$text-bp-lg);
        }   
    }
    &.size160x600 {
        width: rem(728,$text-bp-sm);
        @include bp-medium {
            width: rem(728,$text-bp-md);
        }

        @include bp-large {
            width: rem(980,$text-bp-lg);
        }   
    }
    &.size300x600 {
        width: rem(728,$text-bp-sm);
        @include bp-medium {
            width: rem(728,$text-bp-md);
        }

        @include bp-large {
            width: rem(980,$text-bp-lg);
        }   
    }
    &.size750x200 {
        margin:0;
        width: rem(750,$text-bp-sm);
        @include bp-medium {
            width: rem(300,$text-bp-md);
        }

        @include bp-large {
            width: rem(348,$text-bp-lg);
        }   
    }
    &.size980x120 {
        width: rem(730,$text-bp-sm);
        margin: rem(20,$text-bp-sm) auto;
        @include bp-medium {
            width: rem(980,$text-bp-md);
            margin: rem(20,$text-bp-md) auto;
        }

        @include bp-large {
            width: rem(980,$text-bp-lg);
            margin: rem(20,$text-bp-lg) auto;
        }   
    }
    &.size1250x120 {
        width: rem(746,$text-bp-sm);
        height: rem(93,$text-bp-sm);
        @include bp-medium {
            width: rem(910,$text-bp-md);
            height: rem(120,$text-bp-md);
        }

        @include bp-large {
            margin: rem(20,$text-bp-lg) auto;
            width: rem(1210,$text-bp-lg);
            height: rem(150,$text-bp-lg);
        }   
    }
}