.section-header {
	background-color: #bbbbbb;
	&:nth-child(2) {
  		background-color: #3375e2;
	}
	&:nth-child(3) {
  		background-color: #6b6b6b;
	}

	height: rem(80,$text-bp-sm);
	@include bp-medium {
        height: rem(48,$text-bp-md);
    }
    @include bp-large {
    	height: rem(48,$text-bp-lg); 
    }

     
	.title {
		display: inline-block;
		font-family: $headline-font;
    	color:#FFF;
    	background-color: #000;
    	 
    	transform: rotate(-3deg) translateY(10px);

    	padding:rem(15,$text-bp-sm);
        font-size: rem(44,$text-bp-sm);

    	@include bp-medium {
            padding:rem(5,$text-bp-md);
            font-size: rem(36,$text-bp-md);
        }
        @include bp-large {
        	padding:rem(5,$text-bp-lg);
            font-size: rem(36,$text-bp-lg); 
            margin-left: rem(10,$text-bp-lg); 
        }
    }

}
