.section-header {
	&:nth-of-type(1) {
        background-color: $color-lt-gray;
    }
    &:nth-of-type(2) {
  		background-color: $color-gray;
	}
	&:nth-of-type(3) {
  		background-color: $color-blue;
	}

	height: rem(80,$text-bp-sm);
	@include bp-medium {
        height: rem(48,$text-bp-md);
    }
    @include bp-large {
    	height: rem(48,$text-bp-lg); 
    }

     
	.title {
		display: inline-block;
		font-family: $headline-font;
    	color:#FFF;
    	background-color: #000;
    	 
    	transform: rotate(-3deg) translateY(10px);

    	padding:rem(15,$text-bp-sm);
        font-size: rem(44,$text-bp-sm);

    	@include bp-medium {
            padding:rem(5,$text-bp-md);
            font-size: rem(36,$text-bp-md);
        }
        @include bp-large {
        	padding:rem(5,$text-bp-lg);
            font-size: rem(36,$text-bp-lg); 
            margin-left: rem(10,$text-bp-lg); 
        }
    }

    .more-btn {
        display: inline-block;
        vertical-align: middle;
        font-family: $headline-font;
        color:#FFF;
         
        font-size: rem(24,$text-bp-sm);

        @include bp-medium {
            font-size: rem(24,$text-bp-md);
        }
        @include bp-large {
            font-size: rem(24,$text-bp-lg); 
            margin-left: rem(10,$text-bp-lg); 
        }
    }

    .more-btn:hover {
        color:#000;
    }

}
