.section-header {
	background-color: $color-lt-gray;
    &.gray {
  		background-color: $color-gray;
	}
	&.blue {
  		background-color: $color-blue;
	}

	height: rem(80,$text-bp-sm);
	@include bp-medium {
        height: rem(48,$text-bp-md);
    }
    @include bp-large {
    	height: rem(48,$text-bp-lg); 
    }

     
	.title {
		position: relative;
		display: inline-block;
		font-family: $headline-font;
    	color:#FFF;
    	background-color: #000;
    	 
    	transform: rotate(-3deg) translateY(rem(5,$text-bp-sm));

    	padding:rem(15,$text-bp-sm);
        font-size: rem(44,$text-bp-sm);
        margin: 0 0 0 rem(10,$text-bp-sm);

    	@include bp-medium {
    		transform: rotate(-3deg) translateY(rem(5,$text-bp-md));
            padding:rem(5,$text-bp-md);
            font-size: rem(36,$text-bp-md);
            margin: 0 0 0 rem(10,$text-bp-md);
        }
        @include bp-large {
        	transform: rotate(-3deg) translateY(rem(5,$text-bp-lg));
        	padding:rem(5,$text-bp-lg);
            font-size: rem(36,$text-bp-lg); 
            margin: 0 0 0 rem(10,$text-bp-lg); 
        }
    }

    .more-btn {
        display: inline-block;
        vertical-align: top;
        font-family: $headline-font;
        color:#FFF;
         
        font-size: rem(36,$text-bp-sm);
        margin: rem(25,$text-bp-sm);

        @include bp-medium {
            font-size: rem(24,$text-bp-md);
            margin: rem(15,$text-bp-md);
        }
        @include bp-large {
            font-size: rem(24,$text-bp-lg); 
            margin: rem(15,$text-bp-lg); 
        }
    }

    .more-btn:hover {
        color:#000;
    }

}
.news-thumbs, .photos-thumbs {
	display: flex;
	flex-direction:row;
    flex-wrap: wrap;
    justify-content: flex-start;   
}



.news-thumbs {
    margin: rem(30,$text-bp-sm);

    @include bp-medium {
        margin: rem(50,$text-bp-md);
    }
    @include bp-large {
        margin: rem(50,$text-bp-lg); 
    } 
    a {
        color: #000;
    }
}

.banner {
    border: 1px solid #000;
    margin: rem(20,$text-bp-sm);
    @include bp-medium {
        margin: rem(20,$text-bp-md);
    }

    @include bp-large {
        margin: rem(20,$text-bp-lg);
    }
}
