.thumb-hosts {
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;

    margin:0 rem(50,$text-bp-sm) rem(50,$text-bp-sm) rem(50,$text-bp-sm);

    @include bp-medium {
        margin:0 0 0 rem(50,$text-bp-md);
    }
    @include bp-large {
        margin:0 rem(50,$text-bp-lg) rem(50,$text-bp-lg) rem(50,$text-bp-lg);
    } 
    
    >.thumb-img {
        flex-basis:auto;
        width:rem(650,$text-bp-sm);
        margin:0 rem(50,$text-bp-sm) rem(50,$text-bp-sm) rem(50,$text-bp-sm);

        @include bp-medium {
            width:rem(300,$text-bp-md);
            margin:0 0 0 rem(50,$text-bp-md);
        }
        @include bp-large {
            width:rem(300,$text-bp-lg);
            margin:0 rem(50,$text-bp-lg) 0 0;
        }    
    }
    
    >.info {
        width:rem(200,$text-bp-sm);

        @include bp-medium {
            width:rem(150,$text-bp-md);
        }
        @include bp-large {
            width:rem(750,$text-bp-lg);
        } 
        >.title {
            text-align: left;
            font-family: $narrow-font;
            font-weight: 700;
            color:#000;
            text-transform: uppercase;
            font-size:rem(40,$text-bp-sm);
            line-height:rem(44,$text-bp-sm);
            
            
            @include bp-medium {
                font-size:rem(18,$text-bp-md);
                line-height:rem(30,$text-bp-md);
            }
            @include bp-large {
                font-size:rem(36,$text-bp-lg);
                line-height:rem(40,$text-bp-lg);
                
            }
            
        }     
    }
    
}