nav {
    display: flex;
    flex-direction: column;
    background-color: $color-blue;

    width:rem(750,$text-bp-sm);
    @include bp-medium {
        width:rem(300,$text-bp-md);
    }

    @include bp-large {
        width:rem(350,$text-bp-lg);
    }
}
#nav-logo {
    z-index: 1003;
    width:rem(500,$text-bp-sm);
    height:rem(475,$text-bp-sm);
    margin: 0 rem(125,$text-bp-sm);


    @include bp-medium {
        width:rem(250,$text-bp-md);
        height:rem(230,$text-bp-md);
        margin: 0 rem(25,$text-bp-md);
    }

    @include bp-large {
        width:rem(300,$text-bp-lg);
        height:rem(280,$text-bp-lg);
        margin: 0 rem(25,$text-bp-lg);
    }
}
#nav-logo img {
  width:100%;
  height:auto;
}

#menu-btn, #schedule-btn {
    cursor: pointer;
    text-align: center;
    font-family: 'Hitchcock', san-serif;
    color:#FFF;
    background-color: #6b6b6b;

    font-size: rem(65,$text-bp-sm);
    padding: rem(20,$text-bp-sm) 0;

    @include bp-medium {
        font-size: rem(27,$text-bp-md);
        padding: rem(10,$text-bp-md) 0;
    }

    @include bp-large {
        font-size: rem(36,$text-bp-lg);
        padding: rem(10,$text-bp-lg) 0;
    }
}

#menu-btn:hover, #schedule-btn:hover {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

#nav-btns,
#schedule-menu {
    overflow: hidden;
    height:0;

    @include bp-medium {
        height:auto;
    }
    &.active {
        height: auto;

        @include bp-medium {
            height:0;
        }

        @include bp-large {
            height:0;
        }
    }   
}



#social-nav {
    text-align: center;
    flex-direction: row;
    
    @include bp-medium {
    }

    @include bp-large {
    }
}

.nav-btn {
    text-align: center;
    font-family: $nav-font;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;

    font-size: rem(60,$text-bp-sm);
    padding: rem(20,$text-bp-sm) 0;
    width:100%;


     @include bp-medium {
        font-size: rem(24,$text-bp-md);
        padding: rem(7,$text-bp-md) 0;
      }

    @include bp-large {
        font-size: rem(24,$text-bp-lg);
        padding: rem(5,$text-bp-lg) 0;
    }
}

.nav-btn:hover {
    color: #000;
    background-color: #fff;
    text-decoration: none;
}

.blue-btn {
    font-family: $nav-font;
    background-color: $color-blue;
    vertical-align: center;
    color: #fff;
    margin: rem(20,$text-bp-sm);
    font-size: rem(60,$text-bp-sm);
    padding: rem(20,$text-bp-sm);

     @include bp-medium {
        margin: rem(20,$text-bp-sm);
        font-size: rem(28,$text-bp-md);
        padding: rem(15,$text-bp-md);
      }

    @include bp-large {
        margin: rem(10,$text-bp-sm);
        font-size: rem(28,$text-bp-lg);
        padding: rem(10,$text-bp-lg) rem(15,$text-bp-lg);
    }    
}


.social-btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    color: #fbf1e3;
    font-size: rem(50,$text-bp-sm);
    padding: rem(25,$text-bp-sm) rem(25,$text-bp-sm);

    @include bp-medium {
        font-size: rem(27,$text-bp-md);
        padding: rem(20,$text-bp-md) rem(10,$text-bp-md);
    }

    @include bp-large {
        font-size: rem(27,$text-bp-lg);
        padding: rem(20,$text-bp-lg) rem(10,$text-bp-lg);
    }
    
}

.social-btn:hover {
    color: #000;
    text-decoration: none;
}



