.thumb-holder {
	display: flex;
	flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-around;
}

.category-your-hosts {
    .thumb-holder {
        flex-direction:column;
        flex-wrap: nowrap;   
    }
    .excerpt {
        display: none;
    }
}

.photo-gallery {
	display: flex;
	flex-direction:row;
    .photo-thumb {
    	cursor: pointer;
        width:rem(250,$text-bp-sm);
        @include bp-medium {
            width:rem(200,$text-bp-md);
        }
        @include bp-large {
            width:rem(200,$text-bp-lg); 
        }    
    }
}

.page-content, .post-content {
	padding:rem(25,$text-bp-sm) rem(50,$text-bp-sm);

    @include bp-medium {
        padding:rem(25,$text-bp-md) rem(50,$text-bp-md);
    }
    @include bp-large {
        padding:rem(25,$text-bp-lg) rem(50,$text-bp-lg); 
    }  	
}
.page-nav {
    text-align: center;
    font-size:rem(75,$text-bp-sm);
    margin:rem(30,$text-bp-sm); 
    @include bp-medium {
        text-align: left;
        font-size:rem(36,$text-bp-md);
        margin:rem(20,$text-bp-md);
    }

    @include bp-large {
        font-size:rem(48,$text-bp-lg);
        margin:rem(20,$text-bp-lg);
    }
}
.social {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:center;
    cursor:pointer;
    margin-bottom: rem(20,$text-bp-sm);
         
    @include bp-medium {
    }

    @include bp-large {
    }   
    .share-btn {
        color: $color-blue; 
        font-size:rem(60,$text-bp-sm);
        margin: rem(20,$text-bp-sm);
         
        @include bp-medium {
            font-size:rem(50,$text-bp-md);
            margin: rem(10,$text-bp-md);
        }

        @include bp-large {
            font-size:rem(50,$text-bp-lg);
            margin: rem(10,$text-bp-lg);
        }   
        &:hover {
            color:#000;
        }
    }
    
} 

.ff-btn img {
    margin: rem(50,$text-bp-sm) auto;
    width: rem(200,$text-bp-sm);
         
    @include bp-medium {
        margin: rem(50,$text-bp-md) auto;
        width: rem(200,$text-bp-md);
    }

    @include bp-large {
        margin: rem(50,$text-bp-lg) auto;
        width: rem(200,$text-bp-lg);
    }    
}
