.thumb-holder {
	display: flex;
	flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-around;
}

.photo-gallery {
	display: flex;
	flex-direction:row;
    .photo-thumb {
    	cursor: pointer;
        width:rem(250,$text-bp-sm);
        @include bp-medium {
            width:rem(200,$text-bp-md);
        }
        @include bp-large {
            width:rem(200,$text-bp-lg); 
        }    
    }
}
