.category-photos {
    .thumb-holder {
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;   
    }
}

.thumb-photos {
	cursor: pointer;
	width:rem(150,$text-bp-sm);
    @include bp-medium {
        width:rem(97,$text-bp-md);
    }

    @include bp-large {
        width:rem(125,$text-bp-lg);
    }
	.thumb-img {
		 
	}
}

