.thumb {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:flex-start;

    margin: rem(20,$text-bp-sm);
    @include bp-medium {
        margin: rem(20,$text-bp-md);
    }
    @include bp-large {
        margin: rem(20,$text-bp-lg);
    } 
	.thumb-img {
		flex-basis:auto;
		width:rem(400,$text-bp-sm);
		margin-right: rem(20,$text-bp-sm);
	    @include bp-medium {
	        width:rem(400,$text-bp-md);
	        margin-right: rem(20,$text-bp-md);
	    }

	    @include bp-large {
	        width:rem(400,$text-bp-lg);
	        margin-right: rem(20,$text-bp-lg);
	    } 
	}
	.info {
		flex-basis:auto;

		width:rem(1160,$text-bp-sm);
	    @include bp-medium {
	        width:rem(1160,$text-bp-md);
	    }

	    @include bp-large {
	        width:rem(1160,$text-bp-lg);
	    }
	    >.title {
	    	display: inline-block;
            font-family: $headline-font;
            color:#FFF;
            background-color: #000;
            font-size:rem(50,$text-bp-sm);
            line-height:rem(55,$text-bp-sm);
            padding: rem(15,$text-bp-sm) rem(15,$text-bp-sm);
             
            @include bp-medium {
                font-size:rem(50,$text-bp-md);
                padding: rem(15,$text-bp-md) rem(15,$text-bp-md);
            }

            @include bp-large {
                font-size:rem(40,$text-bp-lg);
                padding: rem(5,$text-bp-lg) rem(15,$text-bp-lg);
            }    
        }
		
	}
}

.post-header-img {
    display: inline-block;

    max-width:rem(750,$text-bp-sm);

    @include bp-medium {
        max-width:rem(635,$text-bp-md);
    }

    @include bp-large {
        max-width:rem(800,$text-bp-lg);
    }
    img {
        width: 100%;
        height: auto;
    }
}

#post-overlay {
    background-color: #000;
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 1009;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto;  
}

.post-content {
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 1010;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto;
    text-align: center;
}

.post-img {

    position: absolute;
    vertical-align: middle;
    text-align: center;

    width: 90vw;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    

    @include bp-medium {
        width: rem(1270,$text-bp-md);
    }

    @include bp-large {

    }
}

.post-img-tall {

    position: absolute;
    vertical-align: middle;
    text-align: center;

    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 90vh;

    @include bp-medium {
        
    }

    @include bp-large {
        

    }
    img {
        width:auto;
        height:100%;
    }
}



.right-arrow, .left-arrow, .post-close{
    color: #fff;
    opacity: .4;
    cursor: pointer;
    position: fixed;
   
    font-size: rem(50,$text-bp-sm);
    @include bp-medium {
        font-size: rem(50,$text-bp-md);
    }

    @include bp-large {
        font-size: rem(60,$text-bp-lg);
    }
    transition:all 0.3s;
}

.right-arrow:hover, .left-arrow:hover, .post-close:hover {
    opacity: .8;
}

.right-arrow {
    display: none;
    bottom: rem(30,$text-bp-sm);
    right: rem(200,$text-bp-sm);

    @include bp-medium {
        display: block;
        bottom: 50%;
        right: rem(30,$text-bp-md);
    }

    @include bp-large {
        display: block;
        bottom: 50%;
        right: rem(30,$text-bp-lg);
    }

}
.left-arrow {
    display: none;
    bottom: rem(30,$text-bp-sm);
    left: rem(200,$text-bp-sm);
    
    @include bp-medium {
        display: block;
        bottom: 50%;
        left: rem(30,$text-bp-md);
    }

    @include bp-large {
        display: block;
        bottom: 50%;
        left: rem(30,$text-bp-lg);
    }
}

.post-close {

    top: rem(30,$text-bp-sm);
    right: rem(30,$text-bp-sm);

    @include bp-medium {
        top: rem(30,$text-bp-md);
        right: rem(30,$text-bp-md);
    }

    @include bp-large {
        
        top: rem(30,$text-bp-lg);
        right: rem(30,$text-bp-lg);
    }

    transition:all 0.3s;
}


