.thumb {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:flex-start;

    margin: rem(20,$text-bp-sm);
    @include bp-medium {
        margin: rem(20,$text-bp-md);
    }
    @include bp-large {
        margin: rem(20,$text-bp-lg);
    } 
	.thumb-img {
		flex-basis:auto;
		width:rem(400,$text-bp-sm);
		margin-right: rem(20,$text-bp-sm);
	    @include bp-medium {
	        width:rem(400,$text-bp-md);
	        margin-right: rem(20,$text-bp-md);
	    }

	    @include bp-large {
	        width:rem(400,$text-bp-lg);
	        margin-right: rem(20,$text-bp-lg);
	    } 
	}
	.info {
		flex-basis:auto;

		width:rem(1160,$text-bp-sm);
	    @include bp-medium {
	        width:rem(1160,$text-bp-md);
	    }

	    @include bp-large {
	        width:rem(1160,$text-bp-lg);
	    }
	    >.title {
	    	display: inline-block;
            font-family: $headline-font;
            color:#FFF;
            background-color: #000;
            font-size:rem(50,$text-bp-sm);
            line-height:rem(55,$text-bp-sm);
            padding: rem(15,$text-bp-sm) rem(15,$text-bp-sm);
             
            @include bp-medium {
                font-size:rem(50,$text-bp-md);
                padding: rem(15,$text-bp-md) rem(15,$text-bp-md);
            }

            @include bp-large {
                font-size:rem(40,$text-bp-lg);
                padding: rem(5,$text-bp-lg) rem(15,$text-bp-lg);
            }    
        }
		
	}
}