.selection {
    header {
        border: 1px solid #000;
        @include bp-medium {
        }

        @include bp-large {
            margin: rem(20,$text-bp-lg);
        }  
    } 
    .banner {
        border: 1px solid #000;
        @include bp-medium {
        }

        @include bp-large {
            margin: rem(20,$text-bp-lg);
        }
    }
    .info {
        display: flex;
        flex-direction:row nowrap;
        @include bp-medium {
        }

        @include bp-large {
            margin: rem(20,$text-bp-lg);
        }
        .poster-thumb {
            border: 1px solid #000;
            width:rem(225,$text-bp-sm);
            @include bp-medium {
                width:rem(225,$text-bp-md);
            }

            @include bp-large {
                width:rem(225,$text-bp-lg);
                margin-right: rem(20,$text-bp-lg);
            }     
        }
        .info-txt {
            >.title {
                display: inline-block;
                font-family: $headline-font;
                color:#FFF;
                background-color: #000;

                 
                @include bp-medium {
                }

                @include bp-large {
                    font-size:rem(50,$text-bp-lg);
                    padding: rem(15,$text-bp-lg) rem(15,$text-bp-lg);
                }    
            }
            .tagline {
                font-family: $sub-font;
                color: #3375e2;
                @include bp-medium {
                }

                @include bp-large {
                    font-size:rem(28,$text-bp-lg);
                    margin: rem(5,$text-bp-lg) 0;
                }
            }
        }
        .synopsis {
            @include bp-medium {
            }

            @include bp-large {
                margin: rem(15,$text-bp-lg) 0;
            }
        }
        .cast-crew {
            @include bp-medium {
            }

            @include bp-large {
                margin: rem(15,$text-bp-lg) 0;
            }
            .member {
                >.title {
                    font-weight: 700;
                }
                >.name {

                }
            }
            
        }
    } 

}

.selection-thumb {
    text-align: center;
    width:rem(225,$text-bp-sm);

    @include bp-medium {
        width:rem(225,$text-bp-md);
    }
    @include bp-large {
        width:rem(225,$text-bp-lg);
        margin:rem(15,$text-bp-lg);
    }
    .poster-thumb {
        width:rem(225,$text-bp-sm);
        @include bp-medium {
            width:rem(225,$text-bp-md);
        }

        @include bp-large {
            width:rem(200,$text-bp-lg);
            margin-bottom: rem(20,$text-bp-lg);
        }    
    }
    .title {
        text-align: center;
        //display: inline;
        font-family: $headline-font;
        color:#FFF;
        font-size:rem(24,$text-bp-sm);

        
        @include bp-medium {
            font-size:rem(18,$text-bp-md);
        }
        @include bp-large {
            font-size:rem(24,$text-bp-lg);
            line-height:rem(35,$text-bp-lg);
            background-color: #000;   
            padding:rem(5,$text-bp-lg); 
            
        }
        
    }
}
