.selection {
    header {
        border: 1px solid #000;
        margin: rem(20,$text-bp-sm);
        @include bp-medium {
            margin: rem(20,$text-bp-md);
        }

        @include bp-large {
            margin: rem(20,$text-bp-lg);
        }  
    } 
    
    .info {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: rem(30,$text-bp-sm);
        @include bp-medium {
            text-align: left;
            flex-direction: row;
            margin: rem(20,$text-bp-md);
        }

        @include bp-large {
            margin: rem(20,$text-bp-lg);
        }
        .poster-social {
            margin: rem(20,$text-bp-sm) 0 rem(50,$text-bp-sm) 0;
            @include bp-medium {
                margin:0 rem(20,$text-bp-md) 0 0;
            }

            @include bp-large {
                margin-right:0 rem(20,$text-bp-lg) 0 0;
            }
            .poster-thumb {
                cursor: pointer;
                display: inline-block;
                border: 1px solid #000;
                width:rem(550,$text-bp-sm);
                @include bp-medium {
                    width:rem(225,$text-bp-md);
                }

                @include bp-large {
                    width:rem(225,$text-bp-lg);
                }   

            }

        }
        
        .info-txt {
            >.title {
                display: inline;
                font-family: $headline-font;
                color:#FFF;
                background-color: #000;
                font-size:rem(80,$text-bp-sm);
                line-height:rem(90,$text-bp-sm);
                padding: rem(15,$text-bp-sm) rem(15,$text-bp-sm);
                margin:0;
                 
                @include bp-medium {
                    font-size:rem(50,$text-bp-md);
                    line-height:rem(65,$text-bp-md);
                    padding: rem(15,$text-bp-md) rem(15,$text-bp-md);
                }

                @include bp-large {
                    font-size:rem(50,$text-bp-lg);
                    line-height:rem(95,$text-bp-lg);
                    padding: rem(15,$text-bp-lg) rem(15,$text-bp-lg);
                }    
            }
            .tagline {
                font-family: $body-font;
                color: #3375e2;
                font-size:rem(40,$text-bp-sm);
                line-height:rem(55,$text-bp-sm);
                margin: rem(50,$text-bp-sm) 0 rem(50,$text-bp-sm) 0;
                @include bp-medium {
                    font-size:rem(28,$text-bp-md);
                    line-height:rem(33,$text-bp-md);
                    margin: rem(25,$text-bp-md) 0;
                }

                @include bp-large {
                    font-size:rem(28,$text-bp-lg);
                    line-height:rem(36,$text-bp-lg);
                    margin: rem(25,$text-bp-lg) 0;
                }
            }
        }
        .synopsis {
            margin: rem(35,$text-bp-sm) 0;
            @include bp-medium {
                margin: rem(15,$text-bp-md) 0;
            }

            @include bp-large {
                margin: rem(15,$text-bp-lg) 0;
            }
        }
        .cast-crew {
            margin: rem(15,$text-bp-sm) 0;
            @include bp-medium {
                margin: rem(15,$text-bp-md) 0;
            }

            @include bp-large {
                margin: rem(15,$text-bp-lg) 0;
            }
            .member {
                >.title {
                    font-weight: 700;
                }
                >.name {

                }
            }
            
        }
        .links {
            a {
                margin-right: rem(15,$text-bp-lg);
            }
        }
    } 

}

.thumb-selection {
    width:rem(210,$text-bp-sm);
    margin:rem(15,$text-bp-sm) rem(12,$text-bp-sm);

    @include bp-medium {
        width:rem(120,$text-bp-md);
        margin:rem(15,$text-bp-md) rem(5,$text-bp-md);
    }
    @include bp-large {
        width:rem(150,$text-bp-lg);
        margin:rem(15,$text-bp-lg) rem(5,$text-bp-lg);
    }
    >.poster-thumb {
        width:inherit;
        border: 1px solid #000;
        @include bp-medium {
        }

        @include bp-large {
            margin-bottom: rem(10,$text-bp-lg);
        }    
    }
    >.title {
        display: block;
        text-align: center;
        font-family: $narrow-font;
        font-weight: 700;
        color:#000;
        text-transform: uppercase;
        font-size:rem(40,$text-bp-sm);
        line-height:rem(44,$text-bp-sm);
        margin:rem(20,$text-bp-sm) 0;
        
        @include bp-medium {
            font-size:rem(21,$text-bp-md);
            line-height:rem(24,$text-bp-md);
            margin:rem(10,$text-bp-md) 0;
        }
        @include bp-large {
            font-size:rem(21,$text-bp-lg);
            line-height:rem(24,$text-bp-lg);
            margin:rem(10,$text-bp-lg) 0;
            
        }
        
    }
}

.thumb-selection-sm {
    width:rem(110,$text-bp-sm);

    @include bp-medium {
        width:rem(35,$text-bp-md);
    }
    @include bp-large {
        width:rem(50,$text-bp-lg);
    }
    >.poster-thumb-sm {
        width:inherit;   
    }
    >.title {
        text-align: left;
        font-family: $narrow-font;
        font-weight: 700;
        color:#000;
        text-transform: uppercase;
        font-size:rem(30,$text-bp-sm);
        line-height:rem(36,$text-bp-sm);
        
        
        @include bp-medium {
            font-size:rem(18,$text-bp-md);
            line-height:rem(30,$text-bp-md);
        }
        @include bp-large {
            font-size:rem(24,$text-bp-lg);
            line-height:rem(28,$text-bp-lg);
            
        }
        
    }
}

.winner {
    text-align: center;
    font-family: $narrow-font;
    background-color: #d39500;
    color:#000;
    text-transform: uppercase;

    >.title {
        text-align: center;
        font-weight: 700;
        font-size:rem(30,$text-bp-sm);
        line-height:rem(36,$text-bp-sm);        
        @include bp-medium {
            font-size:rem(18,$text-bp-md);
            line-height:rem(30,$text-bp-md);
        }
        @include bp-large {
            font-size:rem(24,$text-bp-lg);
            line-height:rem(30,$text-bp-lg);
            
        }      
    }
    >.desc {
        text-align: center;
        font-weight: 300;
        font-size:rem(30,$text-bp-sm);
        line-height:rem(36,$text-bp-sm);
        
        @include bp-medium {
            font-size:rem(16,$text-bp-md);
            line-height:rem(18,$text-bp-md);
        }
        @include bp-large {
            font-size:rem(18,$text-bp-lg);
            line-height:rem(21,$text-bp-lg);
            
        }  
    }
    
}