.single {
    header {
        border: 1px solid #000;
        margin: rem(20,$text-bp-sm);
        @include bp-medium {
            margin: rem(20,$text-bp-md);
        }

        @include bp-large {
            margin: rem(20,$text-bp-lg);
        }  
    } 
    
    .info {
        display: flex;
        flex-direction:row nowrap;
        margin: rem(20,$text-bp-sm);
        @include bp-medium {
            margin: rem(20,$text-bp-md);
        }

        @include bp-large {
            margin: rem(20,$text-bp-lg);
        }
        
    } 
    >.title {
        font-family: $headline-font;
        color:$color-blue;
        font-size:rem(50,$text-bp-sm);
        line-height:rem(53,$text-bp-sm);
        margin: rem(30,$text-bp-sm);
         
        @include bp-medium {
            font-size:rem(28,$text-bp-md);
            line-height:rem(32,$text-bp-md);
            margin: rem(15,$text-bp-md);
        }

        @include bp-large {
            font-size:rem(36,$text-bp-lg);
            line-height:rem(40,$text-bp-lg);
            margin: rem(10,$text-bp-lg) rem(20,$text-bp-lg);
        }    
    }

    >.date {
        font-size:rem(30,$text-bp-sm);
        font-weight: 700;
        line-height:rem(36,$text-bp-sm);
        margin: rem(10,$text-bp-sm) rem(30,$text-bp-sm);
         
        @include bp-medium {
            font-size:rem(28,$text-bp-md);
            line-height:rem(32,$text-bp-md);
            margin: rem(10,$text-bp-md) rem(20,$text-bp-md);
        }

        @include bp-large {
            font-size:rem(21,$text-bp-lg);
            line-height:rem(24,$text-bp-lg);
            margin: rem(10,$text-bp-lg) rem(20,$text-bp-lg);
        }    
    }
    >.content {
        margin: rem(20,$text-bp-sm) rem(30,$text-bp-sm);
         
        @include bp-medium {
            margin: rem(10,$text-bp-md) rem(20,$text-bp-md);
        }

        @include bp-large {
            margin: rem(10,$text-bp-lg) rem(20,$text-bp-lg);
        }    
    }

}
.next-prev {
    margin:rem(10,$text-bp-sm) rem(20,$text-bp-sm); 

    @include bp-medium {
        margin:rem(10,$text-bp-md) rem(20,$text-bp-md); 
    }
    @include bp-large {
        margin:rem(10,$text-bp-lg) rem(20,$text-bp-lg); 
    }    
}

