body {
   margin:0;
   padding:0;
   width:100vw;
   height:100vh;
   font-family: $body-font;
   overflow-x:hidden;
   color:#000;
   background-color: #fff;
}
html {
  margin-top: 0 !important;
}

#site {
    position: relative;
    width:100vw;
    height:100vh;

    font-size:rem(36,$text-bp-sm);
    line-height: rem(60,$text-bp-sm);

    @include bp-medium {
        font-size:rem(24,$text-bp-md);
        line-height: rem(36,$text-bp-md);
    }


    @include bp-large {
        font-size:rem(18,$text-bp-lg);
        line-height: rem(30,$text-bp-lg);
    }


}

#site-holder {

    width:100vw;
    min-height:100vh;
    overflow-x:hidden;
    overflow-y:auto;
    display: flex;
    flex-direction: column;

    @include bp-medium {
        flex-direction: row;
    }
    @include bp-large {
        flex-direction: row;
    }
}

#site-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width:rem(750,$text-bp-sm);
    @include bp-medium {
        width:rem(970,$text-bp-md);
    }

    @include bp-large {
        width:rem(1250,$text-bp-lg);
    }

    .banner:nth-child(3) {
      border: 10px solid #000;
    }
}

img {
    display: block; 
    width:100%;
    height:auto;
}

h1, h2, h3 {
    font-weight: normal;
}

p {
    margin:rem(30,$text-bp-sm) 0;

    @include bp-medium {
        margin:rem(20,$text-bp-md) 0;
    }

    @include bp-large {
        margin:rem(30,$text-bp-lg) 0;
    }
}
a:link {
    color: $color-blue;
    text-decoration: none;
}

a:visited {
    color: $color-blue;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

a:active {
    color: $color-blue;
    text-decoration: none;
}

.screen-reader-text { /* Reusable, toolbox kind of class */
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.mobile {
    @include bp-medium {
        display: none;
    }    
}

.desktop {
    display: none;
    @include bp-medium {
        display: block;     
    }    
}

