.videos {
	cursor: pointer;
}

.thumb-videos {
	cursor: pointer;
	text-align: center;
	width:rem(335,$text-bp-sm);
	margin:rem(20,$text-bp-sm);
    @include bp-medium {
        width:rem(200,$text-bp-md);
        margin:rem(10,$text-bp-md);
    }

    @include bp-large {
        width:rem(200,$text-bp-lg);
        margin:rem(10,$text-bp-lg);
    }
	img {
		margin-bottom:rem(20,$text-bp-sm);
		@include bp-medium {
		    margin-bottom:rem(20,$text-bp-md);
		}

		@include bp-large {
		    margin-bottom:rem(15,$text-bp-lg);
		}	 
	}
}