/**
 * Import SASS 
 * Combining files into one, adds them in sequence
 */
/**
 * Global Variables
 */
/* Breakpoint Screen Sizes */
/* Breakpoint Font Root Sizes */
/* Colors */
/* Official Social Media Colors */
/* Fonts */
/**
 * Mixins
 */
/**
 * Media Queries
 */
/**
 * hoverTouch.js implementation
 */
/**
 * Convert pixel sizes to REM
 * @arg  {string}  $pixels  The pixel size to convert to REM
 * @arg  {string}  $root    The root size to convert by
 * @return  {string}  the calculated REM size
 */
/**
 * Convert pixel sizes to VW
 * @arg  {string}  $pixels  The pixel size to convert to REM
 * @arg  {string}  $width   The width to convert by
 * @return  {string}  the calculated VW size
 */
/**
 * Custom Scrollbar Styling
 * @param  {integer} $size       Enter in the increments for size of the scrollbar
 *                               EX: ".5em"
 * @param  {string}  $primary    Enter in the color desired for the primary color
 * @param  {string}  $secondary  Enter in the color desired for the secondary color
 */
/**
 * Imports
 * Add external files into combined sass file
 */
@import url("//use.fontawesome.com/releases/v5.7.2/css/all.css");
@import url("//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700");
@import url("//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
@font-face {
  font-family: 'Hitchcock';
  src: url("../fonts/Hitchcock.woff2") format("woff2"), url("../fonts/Hitchcock.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/**
 * Keyframe Animations
 */
@keyframes show {
  0% {
    opacity: 0;
    visibility: hidden;
    z-index: -2; }
  1% {
    z-index: 3; }
  100% {
    opacity: 1;
    visibility: visible;
    z-index: 3; } }

@keyframes hide {
  0% {
    opacity: 1;
    visibility: visible;
    z-index: 3; }
  99% {
    z-index: 3; }
  100% {
    opacity: 0;
    visibility: hidden;
    z-index: -2; } }

@keyframes rotateClockwise {
  100% {
    transform: rotate(360deg); } }

/**
 * Global
 */
html, body {
  font-size: 16px; }
  @media only screen and (min-width: 320px) {
    html, body {
      font-size: 1.33333vw; } }
  @media only screen and (min-width: 751px) {
    html, body {
      font-size: 0.7874vw; } }
  @media only screen and (min-width: 1271px) {
    html, body {
      font-size: 0.625vw; } }

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  color: #000;
  background-color: #fff; }

html {
  margin-top: 0 !important; }

#site {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-size: 2.8rem;
  line-height: 3.6rem; }
  @media only screen and (min-width: 751px) {
    #site {
      font-size: 1.8rem;
      line-height: 2.1rem; } }
  @media only screen and (min-width: 1271px) {
    #site {
      font-size: 1.8rem;
      line-height: 2.4rem; } }

#site-holder {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 751px) {
    #site-holder {
      flex-direction: row; } }
  @media only screen and (min-width: 1271px) {
    #site-holder {
      flex-direction: row; } }

#site-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 75rem; }
  @media only screen and (min-width: 751px) {
    #site-content {
      width: 92rem; } }
  @media only screen and (min-width: 1271px) {
    #site-content {
      width: 125rem; } }

img {
  display: block;
  width: 100%;
  height: auto; }

h1, h2, h3 {
  font-weight: normal; }

p {
  margin: 1rem 0; }
  @media only screen and (min-width: 751px) {
    p {
      margin: 1rem 0; } }
  @media only screen and (min-width: 1271px) {
    p {
      margin: 2rem 0; } }

a:link {
  color: #3375e2;
  text-decoration: none; }

a:visited {
  color: #3375e2;
  text-decoration: none; }

a:hover {
  color: #000;
  text-decoration: none; }

a:active {
  color: #3375e2;
  text-decoration: none; }

.screen-reader-text {
  /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px; }

@media only screen and (min-width: 751px) {
  .mobile {
    display: none; } }

.desktop {
  display: none; }
  @media only screen and (min-width: 751px) {
    .desktop {
      display: block; } }

nav {
  display: flex;
  flex-direction: column;
  background-color: #3375e2;
  width: 75rem; }
  @media only screen and (min-width: 751px) {
    nav {
      width: 35rem; } }
  @media only screen and (min-width: 1271px) {
    nav {
      width: 35rem; } }

#nav-logo {
  z-index: 1003;
  width: 50rem;
  height: 47.5rem;
  margin: 0 12.5rem; }
  @media only screen and (min-width: 751px) {
    #nav-logo {
      width: 30rem;
      height: 28rem;
      margin: 0 2.5rem; } }
  @media only screen and (min-width: 1271px) {
    #nav-logo {
      width: 30rem;
      height: 28rem;
      margin: 0 2.5rem; } }

#nav-logo img {
  width: 100%;
  height: auto; }

#menu-btn, #schedule-btn {
  cursor: pointer;
  text-align: center;
  font-family: 'Hitchcock', san-serif;
  color: #FFF;
  background-color: #6b6b6b;
  font-size: 6.5rem;
  padding: 2rem 0; }
  @media only screen and (min-width: 751px) {
    #menu-btn, #schedule-btn {
      font-size: 2.7rem;
      padding: 1rem 0; } }
  @media only screen and (min-width: 1271px) {
    #menu-btn, #schedule-btn {
      font-size: 3.6rem;
      padding: 1rem 0; } }

#menu-btn:hover, #schedule-btn:hover {
  background-color: #fff;
  color: #000;
  text-decoration: none; }

#nav-btns {
  overflow: hidden;
  height: 0; }
  @media only screen and (min-width: 751px) {
    #nav-btns {
      height: auto; } }
  #nav-btns.active {
    height: auto; }
    @media only screen and (min-width: 751px) {
      #nav-btns.active {
        height: 0; } }
    @media only screen and (min-width: 1271px) {
      #nav-btns.active {
        height: 0; } }

#social-nav {
  text-align: center;
  flex-direction: row; }

.nav-btn {
  text-align: center;
  font-family: 'Hitchcock', san-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  font-size: 6rem;
  padding: 2rem 0;
  width: 100%; }
  @media only screen and (min-width: 751px) {
    .nav-btn {
      font-size: 2.4rem;
      padding: 0.7rem 0; } }
  @media only screen and (min-width: 1271px) {
    .nav-btn {
      font-size: 2.4rem;
      padding: 0.5rem 0; } }

.nav-btn:hover {
  color: #000;
  background-color: #fff;
  text-decoration: none; }

.social-btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  color: #fbf1e3;
  font-size: 5rem;
  padding: 2.5rem 2.5rem; }
  @media only screen and (min-width: 751px) {
    .social-btn {
      font-size: 2.7rem;
      padding: 2rem 1rem; } }
  @media only screen and (min-width: 1271px) {
    .social-btn {
      font-size: 2.7rem;
      padding: 2rem 1rem; } }

.social-btn:hover {
  color: #000;
  text-decoration: none; }

.section-header {
  background-color: #bbbbbb;
  height: 8rem; }
  .section-header.gray {
    background-color: #6b6b6b; }
  .section-header.blue {
    background-color: #3375e2; }
  @media only screen and (min-width: 751px) {
    .section-header {
      height: 4.8rem; } }
  @media only screen and (min-width: 1271px) {
    .section-header {
      height: 4.8rem; } }
  .section-header .title {
    position: relative;
    display: inline-block;
    font-family: "Hitchcock", san-serif;
    color: #FFF;
    background-color: #000;
    transform: rotate(-3deg) translateY(0.5rem);
    padding: 1.5rem;
    font-size: 4.4rem;
    margin: 0 0 0 1rem; }
    @media only screen and (min-width: 751px) {
      .section-header .title {
        transform: rotate(-3deg) translateY(0.5rem);
        padding: 0.5rem;
        font-size: 3.6rem;
        margin: 0 0 0 1rem; } }
    @media only screen and (min-width: 1271px) {
      .section-header .title {
        transform: rotate(-3deg) translateY(0.5rem);
        padding: 0.5rem;
        font-size: 3.6rem;
        margin: 0 0 0 1rem; } }
  .section-header .more-btn {
    display: inline-block;
    vertical-align: top;
    font-family: "Hitchcock", san-serif;
    color: #FFF;
    font-size: 3.6rem;
    margin: 2.5rem; }
    @media only screen and (min-width: 751px) {
      .section-header .more-btn {
        font-size: 2.4rem;
        margin: 1.5rem; } }
    @media only screen and (min-width: 1271px) {
      .section-header .more-btn {
        font-size: 2.4rem;
        margin: 1.5rem; } }
  .section-header .more-btn:hover {
    color: #000; }

.schedule-thumbs, .news-thumbs, .photos-thumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; }

.schedule-thumbs {
  margin: 2rem; }
  @media only screen and (min-width: 751px) {
    .schedule-thumbs {
      margin: 2rem; } }
  @media only screen and (min-width: 1271px) {
    .schedule-thumbs {
      margin: 2rem; } }

.news-thumbs {
  margin: 3rem; }
  @media only screen and (min-width: 751px) {
    .news-thumbs {
      margin: 5rem; } }
  @media only screen and (min-width: 1271px) {
    .news-thumbs {
      margin: 5rem; } }
  .news-thumbs a {
    color: #000; }

.banner {
  border: 1px solid #000;
  margin: 2rem; }
  @media only screen and (min-width: 751px) {
    .banner {
      margin: 2rem; } }
  @media only screen and (min-width: 1271px) {
    .banner {
      margin: 2rem; } }

.thumb-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.category-your-hosts .thumb-holder {
  flex-direction: column;
  flex-wrap: nowrap; }

.category-your-hosts .excerpt {
  display: none; }

.photo-gallery {
  display: flex;
  flex-direction: row; }
  .photo-gallery .photo-thumb {
    cursor: pointer;
    width: 25rem; }
    @media only screen and (min-width: 751px) {
      .photo-gallery .photo-thumb {
        width: 20rem; } }
    @media only screen and (min-width: 1271px) {
      .photo-gallery .photo-thumb {
        width: 20rem; } }

.page-content, .post-content {
  padding: 2.5rem 5rem; }
  @media only screen and (min-width: 751px) {
    .page-content, .post-content {
      padding: 2.5rem 5rem; } }
  @media only screen and (min-width: 1271px) {
    .page-content, .post-content {
      padding: 2.5rem 5rem; } }

.page-nav {
  text-align: center;
  font-size: 7.5rem;
  margin: 3rem; }
  @media only screen and (min-width: 751px) {
    .page-nav {
      text-align: left;
      font-size: 3.6rem;
      margin: 2rem; } }
  @media only screen and (min-width: 1271px) {
    .page-nav {
      font-size: 4.8rem;
      margin: 2rem; } }

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 2rem; }
  .social .share {
    color: #3375e2;
    font-size: 6rem;
    margin: 2rem; }
    @media only screen and (min-width: 751px) {
      .social .share {
        font-size: 5rem;
        margin: 1rem; } }
    @media only screen and (min-width: 1271px) {
      .social .share {
        font-size: 5rem;
        margin: 1rem; } }
    .social .share:hover {
      color: #000; }

.thumb {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 2rem; }
  @media only screen and (min-width: 751px) {
    .thumb {
      margin: 2rem; } }
  @media only screen and (min-width: 1271px) {
    .thumb {
      margin: 2rem; } }
  .thumb .thumb-img {
    flex-basis: auto;
    width: 40rem;
    margin-right: 2rem; }
    @media only screen and (min-width: 751px) {
      .thumb .thumb-img {
        width: 40rem;
        margin-right: 2rem; } }
    @media only screen and (min-width: 1271px) {
      .thumb .thumb-img {
        width: 40rem;
        margin-right: 2rem; } }
  .thumb .info {
    flex-basis: auto;
    width: 116rem; }
    @media only screen and (min-width: 751px) {
      .thumb .info {
        width: 116rem; } }
    @media only screen and (min-width: 1271px) {
      .thumb .info {
        width: 116rem; } }
    .thumb .info > .title {
      display: inline-block;
      font-family: "Hitchcock", san-serif;
      color: #FFF;
      background-color: #000;
      font-size: 5rem;
      line-height: 5.5rem;
      padding: 1.5rem 1.5rem; }
      @media only screen and (min-width: 751px) {
        .thumb .info > .title {
          font-size: 5rem;
          padding: 1.5rem 1.5rem; } }
      @media only screen and (min-width: 1271px) {
        .thumb .info > .title {
          font-size: 4rem;
          padding: 0.5rem 1.5rem; } }

.single header {
  border: 1px solid #000;
  margin: 2rem; }
  @media only screen and (min-width: 751px) {
    .single header {
      margin: 2rem; } }
  @media only screen and (min-width: 1271px) {
    .single header {
      margin: 2rem; } }

.single .banner {
  border: 1px solid #000;
  margin: 2rem; }
  @media only screen and (min-width: 751px) {
    .single .banner {
      margin: 2rem; } }
  @media only screen and (min-width: 1271px) {
    .single .banner {
      margin: 2rem; } }

.single .info {
  display: flex;
  flex-direction: row nowrap;
  margin: 2rem; }
  @media only screen and (min-width: 751px) {
    .single .info {
      margin: 2rem; } }
  @media only screen and (min-width: 1271px) {
    .single .info {
      margin: 2rem; } }

.single > .title {
  font-family: "Hitchcock", san-serif;
  color: #3375e2;
  font-size: 5rem;
  line-height: 5.3rem;
  margin: 3rem; }
  @media only screen and (min-width: 751px) {
    .single > .title {
      font-size: 2.8rem;
      line-height: 3.2rem;
      margin: 1.5rem; } }
  @media only screen and (min-width: 1271px) {
    .single > .title {
      font-size: 3.6rem;
      line-height: 4rem;
      margin: 1rem 2rem; } }

.single > .date {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.6rem;
  margin: 1rem 3rem; }
  @media only screen and (min-width: 751px) {
    .single > .date {
      font-size: 2.8rem;
      line-height: 3.2rem;
      margin: 1rem 2rem; } }
  @media only screen and (min-width: 1271px) {
    .single > .date {
      font-size: 2.1rem;
      line-height: 2.4rem;
      margin: 1rem 2rem; } }

.single > .content {
  margin: 2rem 3rem; }
  @media only screen and (min-width: 751px) {
    .single > .content {
      margin: 1rem 2rem; } }
  @media only screen and (min-width: 1271px) {
    .single > .content {
      margin: 1rem 2rem; } }

.next-prev {
  margin: 1rem 2rem; }
  @media only screen and (min-width: 751px) {
    .next-prev {
      margin: 1rem 2rem; } }
  @media only screen and (min-width: 1271px) {
    .next-prev {
      margin: 1rem 2rem; } }

.category-photos .thumb-holder {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.thumb-photos {
  cursor: pointer;
  width: 15rem; }
  @media only screen and (min-width: 751px) {
    .thumb-photos {
      width: 12.5rem; } }
  @media only screen and (min-width: 1271px) {
    .thumb-photos {
      width: 12.5rem; } }

.category-schedule .thumb-holder {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center; }

.schedule .info-banner {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  background-color: #3375e2;
  color: #fff;
  padding: 0.5rem 1.5rem; }
  @media only screen and (min-width: 751px) {
    .schedule .info-banner {
      padding: 0.5rem 1.5rem; } }
  @media only screen and (min-width: 1271px) {
    .schedule .info-banner {
      padding: 0.5rem 1.5rem; } }
  .schedule .info-banner .day-holder {
    margin-right: 1rem; }
    .schedule .info-banner .day-holder .day {
      font-family: "Hitchcock", san-serif;
      color: #FFF;
      background-color: #000;
      font-size: 3.6rem;
      padding: 2rem 1rem; }
      @media only screen and (min-width: 751px) {
        .schedule .info-banner .day-holder .day {
          font-size: 2.2rem;
          padding: 2rem 1rem; } }
      @media only screen and (min-width: 1271px) {
        .schedule .info-banner .day-holder .day {
          font-size: 2.8rem;
          padding: 1rem 1rem; } }
  .schedule .info-banner .date-time {
    font-family: "Hitchcock", san-serif;
    color: #fff;
    font-size: 3.6rem; }
    @media only screen and (min-width: 751px) {
      .schedule .info-banner .date-time {
        font-size: 3.6rem; } }
    @media only screen and (min-width: 1271px) {
      .schedule .info-banner .date-time {
        font-size: 2.8rem;
        line-height: 3.3rem; } }

.schedule .block-selections {
  margin: 2rem; }
  @media only screen and (min-width: 751px) {
    .schedule .block-selections {
      margin: 2rem; } }
  @media only screen and (min-width: 1271px) {
    .schedule .block-selections {
      margin: 2rem; } }
  .schedule .block-selections .block-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
    .schedule .block-selections .block-info .poster-thumb {
      width: 20rem; }
      @media only screen and (min-width: 751px) {
        .schedule .block-selections .block-info .poster-thumb {
          width: 20rem; } }
      @media only screen and (min-width: 1271px) {
        .schedule .block-selections .block-info .poster-thumb {
          width: 15rem;
          margin-right: 2rem; } }
    .schedule .block-selections .block-info .block-host {
      width: 20rem; }
      @media only screen and (min-width: 751px) {
        .schedule .block-selections .block-info .block-host {
          width: 20rem; } }
      @media only screen and (min-width: 1271px) {
        .schedule .block-selections .block-info .block-host {
          width: 70rem; } }
      .schedule .block-selections .block-info .block-host .title {
        display: inline-block;
        font-family: "Hitchcock", san-serif;
        color: #FFF;
        background-color: #000;
        font-size: 3rem;
        line-height: 3.6rem;
        padding: 1rem 1rem; }
        @media only screen and (min-width: 751px) {
          .schedule .block-selections .block-info .block-host .title {
            font-size: 3rem;
            line-height: 3.4rem;
            padding: 1rem 1rem; } }
        @media only screen and (min-width: 1271px) {
          .schedule .block-selections .block-info .block-host .title {
            font-size: 3.6rem;
            line-height: 4rem;
            padding: 1rem 1rem;
            margin-bottom: 1rem; } }
      .schedule .block-selections .block-info .block-host .hosted-by {
        font-family: "Hitchcock", san-serif;
        font-size: 2.1rem;
        line-height: 2.4rem; }
        @media only screen and (min-width: 751px) {
          .schedule .block-selections .block-info .block-host .hosted-by {
            font-size: 2.1rem;
            line-height: 2.4rem; } }
        @media only screen and (min-width: 1271px) {
          .schedule .block-selections .block-info .block-host .hosted-by {
            font-size: 2.1rem;
            line-height: 2.4rem; } }
      .schedule .block-selections .block-info .block-host .host-name {
        font-family: "Hitchcock", san-serif;
        font-size: 2.1rem;
        line-height: 2.4rem; }
        @media only screen and (min-width: 751px) {
          .schedule .block-selections .block-info .block-host .host-name {
            font-size: 2.8rem;
            line-height: 3.2rem; } }
        @media only screen and (min-width: 1271px) {
          .schedule .block-selections .block-info .block-host .host-name {
            font-size: 3.6rem;
            line-height: 4rem; } }
  .schedule .block-selections .selections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

.thumb-schedule {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 1.5rem 0.5rem; }
  @media only screen and (min-width: 751px) {
    .thumb-schedule {
      margin: 1.5rem 0.5rem; } }
  @media only screen and (min-width: 1271px) {
    .thumb-schedule {
      margin: 0.5rem 0.5rem; } }
  .thumb-schedule .poster-thumb {
    width: 25rem;
    margin-right: 2rem; }
    @media only screen and (min-width: 751px) {
      .thumb-schedule .poster-thumb {
        width: 20rem;
        margin-right: 2rem; } }
    @media only screen and (min-width: 1271px) {
      .thumb-schedule .poster-thumb {
        width: 15rem;
        margin-right: 2rem; } }
  .thumb-schedule .info {
    width: 41rem; }
    @media only screen and (min-width: 751px) {
      .thumb-schedule .info {
        width: 20rem; } }
    @media only screen and (min-width: 1271px) {
      .thumb-schedule .info {
        width: 20rem; } }
    .thumb-schedule .info .title {
      text-align: left;
      font-family: "Open Sans Condensed", sans-serif;
      font-weight: 700;
      color: #000;
      text-transform: uppercase;
      font-size: 3rem;
      line-height: 3.6rem; }
      @media only screen and (min-width: 751px) {
        .thumb-schedule .info .title {
          font-size: 1.8rem;
          line-height: 3rem; } }
      @media only screen and (min-width: 1271px) {
        .thumb-schedule .info .title {
          font-size: 1.8rem;
          line-height: 2.1rem; } }
    .thumb-schedule .info .selections {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start; }

.date-tickets {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 751px) {
    .date-tickets {
      justify-content: flex-start; } }
  .date-tickets .schedule-date {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem 0; }
    @media only screen and (min-width: 751px) {
      .date-tickets .schedule-date {
        margin: 1rem 0; } }
    @media only screen and (min-width: 1271px) {
      .date-tickets .schedule-date {
        margin: 1rem 0; } }
    .date-tickets .schedule-date .day-holder {
      margin-right: 1rem; }
      .date-tickets .schedule-date .day-holder .day {
        font-family: "Hitchcock", san-serif;
        color: #FFF;
        background-color: #000;
        font-size: 5.5rem;
        padding: 4rem 2rem; }
        @media only screen and (min-width: 751px) {
          .date-tickets .schedule-date .day-holder .day {
            font-size: 2.2rem;
            padding: 2rem 1rem; } }
        @media only screen and (min-width: 1271px) {
          .date-tickets .schedule-date .day-holder .day {
            font-size: 2.8rem;
            padding: 2rem 1rem; } }
    .date-tickets .schedule-date .time-date .time {
      font-family: "Open Sans Condensed", sans-serif;
      font-weight: 700;
      color: #3375e2;
      font-size: 4.8rem;
      line-height: 6.5rem; }
      @media only screen and (min-width: 751px) {
        .date-tickets .schedule-date .time-date .time {
          font-size: 3.6rem;
          line-height: 4.1rem; } }
      @media only screen and (min-width: 1271px) {
        .date-tickets .schedule-date .time-date .time {
          font-size: 2.8rem;
          line-height: 3.3rem; } }
    .date-tickets .schedule-date .time-date .date {
      color: #000;
      font-size: 3.6rem; }
      @media only screen and (min-width: 751px) {
        .date-tickets .schedule-date .time-date .date {
          font-size: 3.6rem; } }
      @media only screen and (min-width: 1271px) {
        .date-tickets .schedule-date .time-date .date {
          font-size: 1.8rem; } }

.tickets-btn {
  display: inline-block;
  font-family: "Hitchcock", san-serif;
  color: #FFF;
  background-color: #fe0000;
  font-size: 4.8rem;
  padding: 1.5rem;
  margin: 0 2rem; }
  @media only screen and (min-width: 751px) {
    .tickets-btn {
      font-size: 2.2rem;
      padding: 1rem;
      margin: 0 2rem; } }
  @media only screen and (min-width: 1271px) {
    .tickets-btn {
      font-size: 2.8rem;
      padding: 0.5rem 1.5rem;
      margin: 0 2rem; } }

.tickets-btn:hover {
  background-color: #3375e2; }

.category-news .thumb-holder {
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 2rem; }
  @media only screen and (min-width: 751px) {
    .category-news .thumb-holder {
      margin: 5rem; } }
  @media only screen and (min-width: 1271px) {
    .category-news .thumb-holder {
      margin: 5rem; } }

.thumb-news {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  cursor: pointer;
  margin-bottom: 5rem; }
  @media only screen and (min-width: 751px) {
    .thumb-news {
      flex-direction: row;
      flex-wrap: nowrap;
      margin-bottom: 5rem; } }
  @media only screen and (min-width: 1271px) {
    .thumb-news {
      margin-bottom: 5rem; } }
  .thumb-news .thumb-img {
    width: 69rem;
    margin: 0 0 3rem 0; }
    @media only screen and (min-width: 751px) {
      .thumb-news .thumb-img {
        width: 32rem;
        margin: 0 5rem 0 0; } }
    @media only screen and (min-width: 1271px) {
      .thumb-news .thumb-img {
        width: 40rem;
        margin: 0 5rem 0 0; } }
  .thumb-news .info {
    width: 69rem; }
    @media only screen and (min-width: 751px) {
      .thumb-news .info {
        width: 50rem; } }
    @media only screen and (min-width: 1271px) {
      .thumb-news .info {
        width: 66rem; } }
    .thumb-news .info > .title {
      display: inline;
      font-family: "Hitchcock", san-serif;
      color: #3375e2;
      font-size: 5rem;
      line-height: 5.5rem;
      margin-bottom: 1.5rem; }
      @media only screen and (min-width: 751px) {
        .thumb-news .info > .title {
          font-size: 2.8rem;
          line-height: 3.2rem;
          margin-bottom: 1.5rem; } }
      @media only screen and (min-width: 1271px) {
        .thumb-news .info > .title {
          font-size: 3.6rem;
          line-height: 4rem;
          margin-bottom: 1rem; } }
    .thumb-news .info > .date {
      font-weight: 700;
      margin-bottom: 1.5rem; }
      @media only screen and (min-width: 751px) {
        .thumb-news .info > .date {
          margin-bottom: 1.5rem; } }
      @media only screen and (min-width: 1271px) {
        .thumb-news .info > .date {
          margin-bottom: 1rem; } }

.selection header {
  border: 1px solid #000;
  margin: 2rem; }
  @media only screen and (min-width: 751px) {
    .selection header {
      margin: 2rem; } }
  @media only screen and (min-width: 1271px) {
    .selection header {
      margin: 2rem; } }

.selection .info {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 3rem; }
  @media only screen and (min-width: 751px) {
    .selection .info {
      text-align: left;
      flex-direction: row;
      margin: 2rem; } }
  @media only screen and (min-width: 1271px) {
    .selection .info {
      margin: 2rem; } }
  .selection .info .poster-social {
    margin: 2rem 0 5rem 0; }
    @media only screen and (min-width: 751px) {
      .selection .info .poster-social {
        margin: 0 2rem 0 0; } }
    @media only screen and (min-width: 1271px) {
      .selection .info .poster-social {
        margin-right: 0 2rem 0 0; } }
    .selection .info .poster-social .poster-thumb {
      display: inline-block;
      border: 1px solid #000;
      width: 40rem; }
      @media only screen and (min-width: 751px) {
        .selection .info .poster-social .poster-thumb {
          width: 22.5rem; } }
      @media only screen and (min-width: 1271px) {
        .selection .info .poster-social .poster-thumb {
          width: 22.5rem; } }
  .selection .info .info-txt > .title {
    display: inline;
    font-family: "Hitchcock", san-serif;
    color: #FFF;
    background-color: #000;
    font-size: 7rem;
    line-height: 7.5rem;
    padding: 1.5rem 1.5rem;
    margin: 0; }
    @media only screen and (min-width: 751px) {
      .selection .info .info-txt > .title {
        font-size: 5rem;
        line-height: 6.5rem;
        padding: 1.5rem 1.5rem; } }
    @media only screen and (min-width: 1271px) {
      .selection .info .info-txt > .title {
        font-size: 5rem;
        line-height: 9.5rem;
        padding: 1.5rem 1.5rem; } }
  .selection .info .info-txt .tagline {
    font-family: "Hitchcock", san-serif;
    color: #3375e2;
    font-size: 3.3rem;
    line-height: 3rem;
    margin: 5rem 0 5rem 0; }
    @media only screen and (min-width: 751px) {
      .selection .info .info-txt .tagline {
        font-size: 2.8rem;
        line-height: 3.3rem;
        margin: 2.5rem 0; } }
    @media only screen and (min-width: 1271px) {
      .selection .info .info-txt .tagline {
        font-size: 2.8rem;
        line-height: 3.6rem;
        margin: 2.5rem 0; } }
  .selection .info .synopsis {
    margin: 3.5rem 0; }
    @media only screen and (min-width: 751px) {
      .selection .info .synopsis {
        margin: 1.5rem 0; } }
    @media only screen and (min-width: 1271px) {
      .selection .info .synopsis {
        margin: 1.5rem 0; } }
  .selection .info .cast-crew {
    margin: 1.5rem 0; }
    @media only screen and (min-width: 751px) {
      .selection .info .cast-crew {
        margin: 1.5rem 0; } }
    @media only screen and (min-width: 1271px) {
      .selection .info .cast-crew {
        margin: 1.5rem 0; } }
    .selection .info .cast-crew .member > .title {
      font-weight: 700; }
  .selection .info .links a {
    margin-right: 1.5rem; }

.thumb-selection {
  width: 20rem;
  margin: 1.5rem 0.5rem; }
  @media only screen and (min-width: 751px) {
    .thumb-selection {
      width: 15rem;
      margin: 1.5rem 0.5rem; } }
  @media only screen and (min-width: 1271px) {
    .thumb-selection {
      width: 15rem;
      margin: 1.5rem 0.5rem; } }
  .thumb-selection .poster-thumb {
    width: inherit; }
    @media only screen and (min-width: 1271px) {
      .thumb-selection .poster-thumb {
        margin-bottom: 1rem; } }
  .thumb-selection .title {
    text-align: left;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 3.6rem; }
    @media only screen and (min-width: 751px) {
      .thumb-selection .title {
        font-size: 1.8rem;
        line-height: 3rem; } }
    @media only screen and (min-width: 1271px) {
      .thumb-selection .title {
        font-size: 2.1rem;
        line-height: 2.4rem; } }

.thumb-selection-sm {
  width: 22.5rem; }
  @media only screen and (min-width: 751px) {
    .thumb-selection-sm {
      width: 5rem; } }
  @media only screen and (min-width: 1271px) {
    .thumb-selection-sm {
      width: 5rem; } }
  .thumb-selection-sm .poster-thumb-sm {
    width: inherit; }
  .thumb-selection-sm .title {
    text-align: left;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 3.6rem; }
    @media only screen and (min-width: 751px) {
      .thumb-selection-sm .title {
        font-size: 1.8rem;
        line-height: 3rem; } }
    @media only screen and (min-width: 1271px) {
      .thumb-selection-sm .title {
        font-size: 2.4rem;
        line-height: 3rem; } }

#footer {
  font-family: 'Khula', sans-serif;
  font-weight: 400;
  width: 100vw;
  color: #fff;
  text-align: center;
  background-color: #000;
  padding: 2rem 0;
  font-size: 1.8rem; }
  @media only screen and (min-width: 751px) {
    #footer {
      padding: 2rem 0;
      font-size: 1.2rem; } }
  @media only screen and (min-width: 1271px) {
    #footer {
      padding: 2rem 0;
      font-size: 1.2rem; } }

#footer a:link {
  color: #b6b6b6;
  text-decoration: none; }
  @media only screen and (min-width: 751px) {
    #footer a:link {
      color: #b6b6b6; } }
  @media only screen and (min-width: 1271px) {
    #footer a:link {
      color: #b6b6b6; } }

#footer a:visited {
  color: #b6b6b6;
  text-decoration: none; }
  @media only screen and (min-width: 751px) {
    #footer a:visited {
      color: #b6b6b6; } }
  @media only screen and (min-width: 1271px) {
    #footer a:visited {
      color: #b6b6b6; } }

#footer a:hover {
  color: #FFF;
  text-decoration: underline; }
  @media only screen and (min-width: 751px) {
    #footer a:hover {
      color: #FFF; } }
  @media only screen and (min-width: 1271px) {
    #footer a:hover {
      color: #FFF; } }

#footer a:active {
  color: #b6b6b6;
  text-decoration: none; }
  @media only screen and (min-width: 751px) {
    #footer a:active {
      color: #b6b6b6; } }
  @media only screen and (min-width: 1271px) {
    #footer a:active {
      color: #b6b6b6; } }
